<%= form_for(@article) do |f| %>

<%= render :partial => 'layouts/article.navigation', :locals => { :f => f} %>

<!-- Navigation Partial -->

<div class="clearfix"> 
  
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  

  <div class="large-12 columns alpha beta"> 

    <div class="container">
    
    

      <% if @article.article_feature_url.to_s.length > 0 %>
      
        <div class="post-intro  clearfix">       
          <div class="post row">    
            <div class="post-image small-12 columns alpha beta">
            <%= image_tag @article.article_feature_url.to_s, class: "lazy post-image", id: "article_article_feature" %>
            </div>
          </div>
        </div>        
        
        <div class="post row"> 
          <h4 class="post-image-upload"><%= (t('upload_image')) %></h4>
          <%= f.file_field :article_feature %>
        </div>

      <% end %>


        <% if @article.article_feature_url.to_s.length == 0 %>
                  
          <div class="post row"> 
            <h4 class="post-image-upload"><%= (t('upload_image')) %></h4>
            <%= f.file_field :article_feature %>
          </div>

        <% end %>

        <div class="row post-content">
        <div class="post-body small-12 medium-7 large-7 medium-offset-1 large-offset-0 columns alpha beta right">
          
          <div class="show-for-small-only">
            <%= f.text_area :title, rows: 20, class: "post-title-input", placeholder: (t('title')) %>
            <%= f.text_area :introduction, rows: 8, class: "post-teaser-input", placeholder: (t('summary')) %>
          </div>
          
          <%= f.cktext_area :body, rows: 100, class: "post-content-input", placeholder: "Article content" %>

       

        </div>
        <div class="post-related medium-4 left beta alpha">
          <div class="show-for-medium-up" id="addarticle">
            
            <%= f.text_area :title, rows: 20, class: "post-title-input", placeholder: (t('title')) %>
            <%= f.text_area :introduction, rows: 8, class: "post-teaser-input", placeholder: (t('summary')) %>
            
            <h5 class="post-issue-select">
              <%= (t('select_issue')) %>
            </h5>
            <%= f.collection_select(:issue_id, Issue.all, :id, :title) %>

            <h5 class="post-issue-select">
              <%= (t('select_language')) %>
            </h5>
          
            <div class="post-language-select">
              <% if I18n.locale != :en %>
               <%= link_to "中文", {locale: 'zh-CN'}, :class => 'selected_lan' %>
               <%= link_to "EN", {locale: 'en'}, :class => 'unselected_lan' %>
              <% end %>
              <% if I18n.locale == :en %>
               <%= link_to "中文", {locale: 'zh-CN'}, :class => 'unselected_lan' %>
               <%= link_to "EN", {locale: 'en'}, :class => 'selected_lan' %>             
              <% end %>
            </div>
          </div>
        </div>
          <div class="post-buttons small-12 columns beta">
            <%= f.submit (t('save')), class: 'button small' %>
          </div> 
        </div>        

     <% end %>

    </div> 

  </div>

</div>
