        <ul class="medium-block-grid-2 large-block-grid-3 issue-index-list">
          <% @articles.with_translations(I18n.locale).each do |article| %>          
            <li class="issue-index-article">
              <%= image_tag article.article_feature_url.to_s, class: "lazy issue-index-article-thumbnail" %>
              <div class="issue-index-article-body">
                <%=link_to article.title, article, class: "issue-index-article-title"%>

                
                <div class="article-index-status">
                  <% if article.published == true %>
                    <h5 class="article-index-status-published">
                      <%= (t('published_in'))%>
                    </h5>
                    <h5 class="article-index-status-issue"><%= Article.find(article.id).issues.find(article.issue_id).title %></h5>
                    <% else %>
                    <h5 class="article-index-status-unpublished">
                      Unpublished
                    </h5>
                  <% end %>                  
                </div>

                <p class="issue-index-article-teaser"><%= article.introduction %></p>
                <% if current_user.role_id >= 2 %>
                  <%= link_to (t('edit')), edit_article_path(article), :class => 'small button edit' %>
                <% end %>
                <% if current_user.role_id >= 2 %>
                  <%= link_to (t('delete')), article, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'small button alert' %>
                <% end %>            

              </div>
              </a>
            </li>          
            <% end %>
          </ul>