<div class="clearfix">       
  <div class="large-12 columns alpha beta"> 
  <div class="container">
    <div class="post-intro  clearfix"> 
      <div class="post row">    
        <div class="post-image small-12 columns alpha beta">
        <%= image_tag @article.article_feature_url.to_s, class: "lazy post-image" %>
        </div>
      </div>
    </div>
    <div class="row post-content">
      <div class="post-body small-12 medium-7 large-7 medium-offset-1 large-offset-0 columns alpha beta right">      
      <div class="show-for-small-only">
        <h1 class="post-title"><%= @article.title %></h1>        
        <p class="post-teaser"><%= @article.introduction %></p>
      </div>
      <%= raw(@article.body) %>
      </div>
      <div class="post-related medium-4 left beta alpha">
        <div class="show-for-medium-up">
          <h1 class="post-title"><%= @article.title %></h1>        
          <p class="post-teaser"><%= @article.introduction %></p>
          <div class="post-actions">
            <% if current_user.role_id >= 2 %>
              <%= link_to (t('edit')), edit_article_path(@article), :class => 'small button edit' %>
            <% end %>
            <% if current_user.role_id >= 3 %>
              <%= link_to (t('delete')), @article, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'small button alert' %>
            <% end %>
          </div>
        </div>
        <div class="post-meta small-12 columns alpha beta end">
          <div class="post-related-list">
            <ul class="post-related-articles medium-8 columns alpha">
              <% @articles.each do |article|%>
              <% if article.title != @article.title %>
              <%= link_to(article) do %>
              <li class="post-related-list-item">
                <%= image_tag article.article_feature_url.to_s, class: "lazy issue-index-article-thumbnail" %>
                <h4 class="post-related-list-item-title">
                  <%= article.title%>             
                </h4>
              </li>
              <% end %>
              <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> 
  </div>
</div>