<div class="clearfix cn"> 
  <div class="large-12 columns alpha beta"> 
      <div class="coverpage" id="splash">
        <div class="horizon">
 
            <div class="issue-intro small-10 columns" ng-cloak>
              <h2 class="issue-intro-title"><%= @issues.first.title %></h2>
              <p class="issue-intro-text"><%= @issues.first.summary %></p>
              <div class="">
                <%= link_to "Intro", @issues.first, :class => 'small button secondary'  %>
              </div>
            </div>

        </div>
      </div>
      <div class="issue-index" id="index">
        <div class="">
        <ul class="medium-block-grid-2 large-block-grid-3 issue-index-list">
          <% @issues.first.articles.each do |article| %>          
            <li class="issue-index-article">
              <%=link_to article.title, article, class: "issue-index-article-title"%>
              <%= image_tag article.article_feature_url.to_s, class: "lazy issue-index-article-thumbnail" %>
              <div class="issue-index-article-body">
                <p class="issue-index-article-teaser"><%= article.introduction %></p>
                <% if current_user.role_id >= 2 %>
                  <%= link_to 'Edit', edit_article_path(article), :class => 'small button edit' %>
                <% end %>
                <% if current_user.role_id >= 3 %>
                  <%= link_to 'X', article, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'small button alert' %>
                <% end %>
              </div>
              </a>
            </li>          
            <% end %>
          </ul>
        </div>
      </div>
  </div>
</div>