<div class="clearfix cn"> 
  <div class="large-12 columns alpha beta"> 
      <div class="coverpage" id="splash">
        <div class="horizon">
          <% @issues.last(1).each do |issue| %>
            <div class="issue-intro small-10 columns" ng-cloak>
              <h2 class="issue-intro-title"><%= issue.title %></h2>
              <p class="issue-intro-text"><%= issue.summary %></p>
              <div class="">
                <a href="/issues/" class="small button secondary">intro</a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="issue-index" id="index">
        <div class="">
        <ul class="medium-block-grid-2 large-block-grid-3 issue-index-list">
          <% @articles.each do |article| %>          
            <li class="issue-index-article">
              <%=link_to article.title, article, class: "issue-index-article-title"%>
              <%= image_tag article.article_feature_url.to_s, class: "lazy issue-index-article-thumbnail" %>
              <div class="issue-index-article-body">
                <p class="issue-index-article-teaser"><%= article.introduction %></p>
              </div>
              </a>
            </li>          
            <% end %>
          </ul>
        </div>
      </div>
  </div>
</div>