<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : (t('octave_journal')) %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  
  <% if params[:action] != 'edit' && params[:action] != 'new' %>
    <%= render 'layouts/navigation' %>    
  <% end %>

    <% if flash[:error] %>
      <p class="alert alert-danger"><%= flash[:error] %></p>
    <% end %>
  
    <%= yield %>

  <% if user_signed_in? %>
    <%= render 'layouts/footer' %>
  <% end %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>    
  <%= javascript_include_tag 'data-turbolinks-track' => true %>
  </body>
</html>

