<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Octave Journal" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  
    <div class="navigation">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <a href="/">
            <%= image_tag "branding.png" %>
            </a>
            <h1 class="branding-title"><a href="/"><span class="bold">Octave</span> journal</a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <% if user_signed_in? %>
              <li><%= link_to current_user.email, edit_user_registration_path, :class => 'navigation-user' %></li>.
              <li><%= link_to "logout", destroy_user_session_path, method: :delete, :class => 'navigation-logout'%></li>
            <% end %>
            <li class="cn-language">
              <a href="/cn">&#20013;&#25991;</a>
            </li>
            <li class="divider"></li>
            <li><a href="/en">EN</a></li>
          </ul>
          <!-- Left Nav Section -->
        </section>
      </nav>
    </div>
    <% if flash[:error] %>
      <p class="alert alert-danger"><%= flash[:error] %></p>
    <% end %>
  <%= yield %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>    
  <%= javascript_include_tag 'data-turbolinks-track' => true %>
  </body>
</html>

